<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App通用Ұ国籍</key>
	<array>
		<dict>
			<key>name</key>
			<string>中国</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>中国（港澳台）</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>美国</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>英国</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>法国</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>加拿大</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>俄罗斯</string>
			<key>value</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>其他</string>
			<key>value</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>App通用Ұ学历</key>
	<array>
		<dict>
			<key>name</key>
			<string>博士</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>硕士</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>本科</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>大专</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高中</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>初中及以下</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
